@page
@model UserListModel
@{
    ViewData["Title"] = "User list";
}

<div class="text-center" id="tablePartialView">
    <partial name="_Table" model="@Model.UserListViewModel" />
</div>

<script>
    function Search(sortBy, orderBy, page) {
        var model = {
            UserModel: {},
            PaginationQueryDto: {
                sortBy: sortBy,
                orderBy: orderBy,
                page: page,
                pageSize: 10
            }
        };
        console.log(model);
        $.ajax({
            type: 'POST',
            url: '?handler=Search',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("RequestVerificationToken",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: model,
            success: function (data) {
                $("#tablePartialView").html(data);
            },
            error: function (errorMessage) {
                alert("ERROR");
            }
        });
    }

    function SortByColumn(sortBy, orderBy, page) {
        if (orderBy == '') {
            orderBy = 'DESC';
        }
        if (orderBy == 'DESC')
            orderBy = 'ASC';
        else if (orderBy == 'ASC')
            orderBy = 'DESC';

        var model = {
            UserModel: {},
            PaginationQueryDto: {
                sortBy: sortBy,
                orderBy: orderBy,
                page: page,
                pageSize: 10
            }
        };
        $.ajax({
            type: 'POST',
            url: '?handler=Search',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("RequestVerificationToken",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: model,
            success: function (data) {
                $("#tablePartialView").html(data);
            },
            error: function (errorMessage) {
                alert("ERROR");
            }
        });
    }

    function DeleteUser(guid) {
        var model = {
            Guid: guid,
            UserModel: {},
            PaginationQueryDto: {
                sortBy: '@Model.PaginationQueryDto.SortBy',
                orderBy: '@Model.PaginationQueryDto.OrderBy',
                page: @Model.PaginationDto.Page,
                pageSize: 10
            }
        };
        Swal.fire({
            text: 'Are you sure you want to delete this user?',
            icon: "error",
            showCancelButton: true,
            buttonsStyling: false,
            customClass: {
                confirmButton: "btn font-weight-bold btn-primary",
                cancelButton: "btn font-weight-bold btn-default"
            }
        }).then(function (result) {
            if (result.value) {
                $.ajax({
                    type: "DELETE",
                    url: "/",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("RequestVerificationToken",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: model,
                    success: function (data) {
                        if (data.statusMessage === "error") {
                            Swal.fire("Error", "An error occured while deleting user!", "error");
                        }
                        else {
                            Swal.fire("Success", "Successfully deleted user!", "success");
                            $("#tablePartialView").html(data);
                        }
                    }
                });
            }
        });
    }
</script>
